@font-face {
  font-family: 'OldEnglishFive';
  src: url('../fonts/OldEnglishFive.ttf') format('truetype');
}

@font-face {
  font-family: 'Shikamaru';
  src: url('../fonts/Shikamaru.otf') format('opentype');
}